.RestaurantReviews {
  width: 100%;
  list-style: none;
  padding: 0;

  > li {
    display: flex;
    align-items: flex-start;
    margin: 20px 0;

    .text {
      margin-left: 10px;
      font-size: 13px;
      h4 {
        margin: 0px;
      }
      .rating {
        display: flex;
        align-items: center;
        > img {
          width: 20px;
          height: 20px;
          margin-left: 2px;
        }
      }
    }

    img {
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
