.RestaurantDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .intro {
    display: flex;
    flex-direction: column;
    max-width: 100%;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      > * {
        width: 50%;
      }
    }

    .text {
      h1 {
        margin: 0;
      }
      p {
        margin: 10px 0 10px 0;
        font-size: 13px;

        @media (min-width: 768px) {
          margin: 10px 20px 0 0;
        }
      }
    }

    > img {
      display: block;
      height: 200px;
      object-fit: cover;
      border-radius: 20px;
    }
  }
}
