.SearchBar {
  display: flex;
  width: 400px;
  height: 30px;
  max-width: 100%;

  > input {
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 0 20px;

    &:focus {
      outline: none;
    }
  }
}
