.PlacesList {
  width: 100%;
  background: #6f8faf;
  color: #fff;
  list-style: none;
  padding: 0;

  > li {
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        background-color: #1f51ff;
      }
    }

    > p {
      padding: 10px;
      margin: 0;
      border-top: 1px solid #303030;
    }
  }

  > li:first-of-type > p {
    border: none;
  }
}
